html, body {
    margin: 0;
    padding: 0;

    background: #000;

    font-family: sans-serif;
}
.home-container {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-heading {
    color: white;
    text-transform: uppercase;
}

.main-heading-primary {
    display: block;
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: 35px;
    margin-left: 35px;
    animation: moveInLeft 1s ease-out;
}

.main-heading-secondary {
    color: #ff69b4;
    font-family: sans-serif;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 31px;
    margin-left: 30px;
    animation: moveInRight 1s ease-out;
}
.start-btn {
    position: absolute;
    z-index: 10;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    height: 40px;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 10px;
    opacity: 0;
}
.start-btn:before, .underline-btn:after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 0;
}
.start-btn:before {
    transition: width 0s ease,background .4s ease;
    left: 0;
    right: 0;
    bottom: 6px;
}
.start-btn:after {
    right: 2.2%;
    bottom: 6px;
    background: #fff;
    transition: width .4s ease;
}
.start-btn:hover:before {
    width: 97.8%;
    background: #fff;
    transition: width .4s ease;
}
.start-btn:hover:after {
    width: 97.8%;
    background: 0 0;
    transition: all 0s ease;
}
.ready-anim, .load-btn {
    position: absolute;
    z-index: 10;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff69b4;
    height: 40px;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 10px;
    opacity: 0;
}
.load-btn {
    color: #777;
    opacity: 1;
    font-size: 13px;
}
.load-btn span {
    color: #ff69b4;
}
.load-btn span:nth-child(1){
         animation: firstp 1s ease-out infinite;
 }
.load-btn span:nth-child(2){
         animation: secp 1s ease-out infinite;
 }
.load-btn span:nth-child(3){
         animation: thirdp 1s ease-out infinite;
 }
.play-ready {
    animation: readyToPlay .3s ease-out forwards;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .img-container {
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    height: 0px;
    width: 240px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.1s, height 0.25s 0.1s ease-out, opacity 0.25s 0.1s ease-out;
}
.container .img-container .cross {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.container .img-container .output {
    background: #fff;
    height: 240px;
    width: 240px;
    object-fit: cover;
}
.file-cont {
    background: #fff;
    position: relative;
    height: 30px;
    width: 250px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 2px solid #444;
}
.file-cont .label-file {
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    background: #222 -webkit-radial-gradient(50% 0, ellipse farthest-corner, #444 0%, #222 100%);
    height: 30px;
    padding: 0 16px;
    border-right: 17px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 7px;
    letter-spacing: 2px;
    cursor: pointer;
}
.file-cont .label-file:hover {
    background: #222 -webkit-radial-gradient(50% 0, ellipse farthest-corner, #555 0%, #333 100%);
}
.file-cont .input-file {
    width: 100%;
    outline: none;
    padding-right: 10px;
}
p {
    color: white;
    font-family: 'arial';
    text-align: center;
    margin-top: 50px;
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: 40px;
    position: absolute;
    top: 10px;
}
